@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* этот самый крестик: "::-webkit-search-cancel-button" */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

* {
  -webkit-transition: 0.5s padding ease-in-out, 0.5s margin ease-in-out, 0.1s color ease-out, 0.1s font-size ease-in;
  transition: 0.5s padding ease-in-out, 0.5s margin ease-in-out, 0.1s color ease-out, 0.1s font-size ease-in;
}

*:not(.socials__link img, .pagination__page)::-moz-selection {
  background-color: #EE918D;
  color: #F6E1D3;
}

*:not(.socials__link img, .pagination__page)::selection {
  background-color: #EE918D;
  color: #F6E1D3;
}

.socials__link img::-moz-selection, .pagination__page::-moz-selection {
  background-color: #eeeeee;
}

.socials__link img::selection, .pagination__page::selection {
  background-color: #eeeeee;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #A8A6A8;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #878587;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #F0F0F0;
          box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

body {
  font-family: "Roboto Mono";
}

html {
  scroll-behavior: smooth;
}

body.locked {
  position: fixed;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1180px;
  padding: 0px 30px;
  margin: 0px auto;
}

.header {
  padding: 96px 0px;
}
.header__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 10;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2.4px;
}
.header__logo:hover {
  font-size: 25px;
  color: #242424;
  letter-spacing: 2.5px;
}
.header .menu__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.header .menu__list > li {
  font-size: 16px;
  color: #777777;
  line-height: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .menu__list > li a, .header .menu__list > li p {
  display: block;
  position: relative;
  cursor: pointer;
}
.header .menu__list > li a.link-expandable, .header .menu__list > li div.link-expandable ul {
  display: none;
}
.header .menu__list > li a.link-expandable.expanded, .header .menu__list > li div.link-expandable.expanded ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 53px;
}
.header .menu__list > li a.link-expandable.expanded li, .header .menu__list > li div.link-expandable.expanded ul li {
  font-size: 13px;
  line-height: 26px;
}
.header .menu__list > li a.link-expandable, .header .menu__list > li div.link-expandable p:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 11px;
  margin: 0px 0px 0px 5px;
  background: url("../images/icons/menu-arrow_down.svg") 0 center no-repeat;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  overflow: hidden;
}
.header .menu__list > li a.link-expandable.expanded p, .header .menu__list > li div.link-expandable.expanded p {
  font-size: 17px;
  color: #474747;
}
.header .menu__list > li a.link-expandable.expanded p:after, .header .menu__list > li div.link-expandable.expanded p:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.header .menu__list > li a.link-expandable.expanded ul, .header .menu__list > li div.link-expandable.expanded ul {
  max-width: 60px;
  width: 100%;
  text-align: center;
}
.header .menu__list > li a.link-expandable.expanded ul li:hover, .header .menu__list > li div.link-expandable.expanded ul li:hover {
  font-size: 15px;
  color: #474747;
}
.header .menu__list > li:hover {
  font-size: 17px;
  color: #474747;
}
.header .menu__list > li:hover:after {
  background-color: #474747;
}
.header .menu__list > li.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 0px auto;
  background-color: #777777;
}
.header .menu__list > li:not(:last-child) {
  margin: 0px 48px 0px 0px;
}
.header .search {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 256px;
  width: 100%;
}
.header .search__input {
  max-width: 216px;
  width: 100%;
  height: 40px;
  padding: 13px;
  border-radius: 3px 0px 0px 3px;
  background-color: #f4f4f4;
  font-size: 12px;
  color: #474747;
  line-height: 14px;
}
.header .search__button {
  max-width: 40px;
  width: 100%;
  height: 40px;
  background-color: #FFBA9D;
  border-radius: 0px 3px 3px 0px;
}
.header .search__button img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header .search__button:hover img {
  -webkit-transform: scale(1.05) rotate(-10deg);
          transform: scale(1.05) rotate(-10deg);
}
@media screen and (max-width: 900px) {
  .header {
    padding: 40px 0px;
  }
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -20px 0px;
  }
  .header__row > div {
    padding: 20px 0px;
  }
  .header .search {
    max-width: 360px;
  }
  .header .search__input {
    max-width: 90%;
  }
  .header .search__button {
    max-width: 10%;
  }
}
@media screen and (max-width: 460px) {
  .header {
    padding: 23px 0px;
  }
  .header .container {
    padding: 0px 15px;
  }
  .header__row {
    margin: -27.5px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__row > div {
    padding: 27.5px 0px;
  }
  .header__logo {
    font-size: 26px;
  }
  .header .menu {
    position: absolute;
  }
  .header .menu .icon-menu {
    display: block;
    position: fixed;
    width: 24px;
    height: 18px;
    top: 35px;
    right: 15px;
    z-index: 21;
  }
  .header .menu .icon-menu span {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    top: 7px;
    left: 0;
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #000;
  }
  .header .menu .icon-menu span:first-child {
    position: absolute;
    top: 0px;
  }
  .header .menu .icon-menu span:last-child {
    position: absolute;
    top: 14px;
  }
  .header .menu .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }
  .header .menu .icon-menu.active span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
    background-color: #000;
  }
  .header .menu .icon-menu.active span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 7px;
    background-color: #000;
  }
  .header .menu__body {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    padding: 120px 0px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #f9f9f9;
    -webkit-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
  }
  .header .menu__body ul {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .header .menu__body.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -15px 0px;
  }
  .header .menu__list li {
    padding: 15px 0px;
    font-size: 20px;
    line-height: 42px;
  }
  .header .menu__list li a {
    position: relative;
  }
  .header .menu__list li a:after {
    position: absolute;
  }
  .header .menu__list li a.link-expandable.expanded p, .header .menu__list li div.link-expandable.expanded p {
    font-size: 20px;
    color: #474747;
  }
  .header .menu__list li:last-child {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  .header .search {
    max-width: 100%;
  }
  .header .search__input {
    max-width: 90%;
  }
  .header .search__button {
    max-width: 10%;
  }
}

.content {
  padding: 0px 0px 40px 0px;
}
.content__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__column.sidebar-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.714%;
          flex: 0 0 25.714%;
}
.content__column.recent-posts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65.714%;
          flex: 0 0 65.714%;
}
.content .sidebar-about__title {
  font-size: 24px;
  color: #474747;
  line-height: 36px;
  margin: 0px 0px 36px 0px;
}
.content .sidebar-about__text {
  font-size: 16px;
  color: #474747;
  font-weight: 300;
  line-height: 24px;
  margin: 0px 0px 16px 0px;
}
.content .sidebar-about__link {
  margin: 0px 0px 48px 0px;
}
.content .sidebar-about .sb-link__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .sidebar-about .sb-link__item span {
  font-size: 12px;
  color: #474747;
  line-height: 14px;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.content .sidebar-about .sb-link__item:after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/icons/sidebar-arrow_left.svg") center no-repeat;
  background-color: #F4F4F4;
  margin: 0px 0px 0px 16px;
  display: inline-block;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.content .sidebar-about .sb-link__item:hover span {
  font-size: 13px;
  letter-spacing: 1.2px;
}
.content .sidebar-about .sb-link__item:hover:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.content .recent-posts__header {
  margin: 0px 0px 39px 0px;
}
.content .recent-posts__title {
  font-size: 24px;
  line-height: 36px;
  color: #474747;
  margin: 0px 0px 24px 0px;
}
.content .recent-posts .rp-navigation__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -24px;
  overflow-x: auto;
}
.content .recent-posts .rp-navigation__list li.rp-navigation__tag {
  padding: 0px 24px;
  text-align: center;
  white-space: nowrap;
}
.content .recent-posts .rp-navigation__list li.rp-navigation__tag a {
  font-size: 16px;
  line-height: 32px;
  color: #777777;
}
.content .recent-posts .rp-navigation__list li.tag-active a {
  color: #474747;
}
.content .recent-posts .rp-navigation__list li.rp-navigation__tag.tag-active:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #474747;
}
.content .recent-posts .posts {
  position: relative;
}
.content .recent-posts .posts-list__content {
  margin: 0px 0px 98px 0px;
}
.content .recent-posts .posts__row {
  padding: 48px 0px;
}
.content .recent-posts .posts__date {
  font-size: 12px;
  line-height: 14px;
  color: #777777;
  margin-bottom: 24px;
}
.content .recent-posts .posts__content {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .recent-posts .posts__content.list-wrapped {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .recent-posts .posts__title {
  max-width: 540px;
  width: 100%;
  font-size: 19px;
  line-height: 28px;
}
.content .recent-posts .posts__tags {
  max-width: 200px;
  width: 100%;
  top: center;
}
.content .recent-posts .tags__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4px;
}
.content .recent-posts .tags__list li {
  font-size: 12px;
  padding: 8px 16px;
  background-color: #f4f4f4;
  border-radius: 3px;
}
.content .recent-posts .pagination {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12px;
}
.content .recent-posts .pagination div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 12px;
  border-radius: 3px;
}
.content .recent-posts .pagination div:nth-child(1) {
  background-color: #f4f4f4;
}
.content .recent-posts .pagination div:nth-child(1) img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.content .recent-posts .pagination div:nth-child(3) {
  background-color: #ffffff;
  border: 1px solid #474747;
  border-radius: 3px;
}
.content .recent-posts .pagination__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  margin: 0px -8px;
  padding: 0px 12px;
}
.content .recent-posts .pagination__list li {
  padding: 0px 8px;
  font-size: 16px;
  line-height: 32px;
}
.content .recent-posts .pagination__page.page-active {
  color: #ffaa9d;
}
@media screen and (max-width: 1279px) {
  .content .content__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -15px 0px;
  }
  .content .content__row > div {
    padding: 15px 0px;
  }
  .content .content__row .sidebar-about {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content .content__row .recent-posts {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 550px) {
  .content .posts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -7.5px 0px;
  }
  .content .posts__content > div {
    padding: 7.5px 0px;
  }
  .content .posts__content .tags__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content .posts__content.list-wrapped {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12.5px;
}
.socials__item {
  padding: 0px 12.5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.socials__item:hover {
  -webkit-transform: scale(1.2) rotate(20deg);
          transform: scale(1.2) rotate(20deg);
}
.footer {
  padding: 40px 0px;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;
}
.footer__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -6px;
}
.footer__copyright span {
  display: inline-block;
  padding: 0px 6px;
  font-size: 12px;
  color: #474747;
  line-height: 14px;
}
.footer__copyright span:first-child:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/icons/copyright.svg") 0 0 no-repeat;
  margin: 0px 0px -2px 5px;
}
.footer .go-back {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
}
.footer .go-back__link {
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #fff;
}
.footer .go-back__link img {
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, -25%);
          transform: rotate(-90deg) translate(-50%, -25%);
}
@media (max-width: 767px) {
  .footer {
    padding: 117px 0px 40px 0px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -21px 0px;
  }
  .footer__row > div:not(:nth-child(2)) {
    padding: 21px 0px;
  }
  .footer__row > div:nth-child(2) {
    margin: px 0px;
  }
}