@import "reset.scss";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// В input с типом search, в браузере Хром, появляется керстик, чтобы очистить поле. Вот так можно от него избавиться:
/* этот самый крестик: "::-webkit-search-cancel-button" */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
//

* {
    transition: 0.5s padding ease-in-out, 0.5s margin ease-in-out, 0.1s color ease-out, 0.1s font-size ease-in;
}
*:not(.socials__link img, .pagination__page)::selection {
    background-color: #EE918D;
    color: #F6E1D3;
}
.socials__link img::selection, .pagination__page::selection {
    background-color: #eeeeee;
}

::-webkit-scrollbar{
width: 2px;
height: 2px;
}
::-webkit-scrollbar-thumb{
background: #A8A6A8;
border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
background: #878587;
}
::-webkit-scrollbar-track{
background: #FFFFFF;
border-radius: 0px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

body {font-family: 'Roboto Mono'}
html {scroll-behavior: smooth;}

body.locked {
    position: fixed;
}

//

.wrapper {overflow: hidden;}

//

.container {
    max-width: 1180px;
    padding: 0px 30px;
    margin: 0px auto;
}

//

.header {
    padding: 96px 0px;
	&__row {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
	}

	&__logo {
        position: relative;
        z-index: 10;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 2.4px;
	}

    &__logo:hover {
        font-size: 25px;
        color: #242424;
        letter-spacing: 2.5px;
    }

	&__menu {

	}

	&__search {

	}

    .menu {

    	&__icon {

    	}

    	&__body {

    	}

    	&__list {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            overflow: hidden;
            >li {
                font-size: 16px;
                color: #777777;
                line-height: 32px;
                user-select: none;
                a,p {display: block; position: relative; cursor: pointer;}

                a.link-expandable,div.link-expandable ul {
                    display: none;
                }

                a.link-expandable.expanded,div.link-expandable.expanded ul {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    max-width: 53px;
                    li{
                        font-size: 13px;
                        line-height: 26px;
                    }
                }
                a.link-expandable,div.link-expandable p:after {
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 11px;
                    margin: 0px 0px 0px 5px;
                    background: url('../images/icons/menu-arrow_down.svg') 0 center no-repeat;
                    transition: all 0.1s ease-in;
                    overflow: hidden;

                }

                a.link-expandable.expanded,div.link-expandable.expanded {
                    p {font-size: 17px; color: #474747;}
                    p:after {transform: rotate(-180deg);}
                    ul {max-width: 60px; width: 100%; text-align: center;}
                    ul li:hover {
                        font-size: 15px;
                        color: #474747;
                    }
                }
            }

            >li:hover {font-size: 17px; color: #474747;}
            >li:hover:after {background-color: #474747;}

            >li.active:after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                margin: 0px auto;
                background-color: #777777;
            }

            >li:not(:last-child) {
                margin: 0px 48px 0px 0px;
            }
    	}

    }

    .icon-menu {

    }

    .search {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        max-width: 256px;
        width: 100%;
    	&__input {
            max-width: 216px;
            width: 100%;
            height: 40px;
            padding: 13px;
            border-radius: 3px 0px 0px 3px;
            background-color: #f4f4f4;
            font-size: 12px;
            color: #474747;
            line-height: 14px;
    	}

        &__button {
            max-width: 40px;
            width: 100%;
            height: 40px;
            background-color: #FFBA9D;
            border-radius: 0px 3px 3px 0px;
            img {transition: all 0.5s ease-in-out;}
        }

        &__button:hover {
            img {transform: scale(1.05) rotate(-10deg);}
        }

    }

    @media screen and (max-width: 900px) {
        & {
            padding: 40px 0px;
            &__row {flex-direction: column; margin: -20px 0px; >div {padding: 20px 0px}}
            .search {
                max-width: 360px;
                &__input{max-width: 90%;}
                &__button{max-width: 10%;}
            }
        }
    }

    @media screen and (max-width: 460px) {
        & {
            padding: 23px 0px;
            .container {padding: 0px 15px;}
            &__row {margin: -27.5px 0px; align-items: flex-start; >div {padding: 27.5px 0px;}}
            &__logo {font-size: 26px;}
            .menu {
                position: absolute;
                .icon-menu {
                    display: block;
                    position: fixed;
                    width: 24px;
                    height: 18px;
                    top: 35px;
                    right: 15px;
                    z-index: 21;
                    span {transition: all 0.5s ease-in-out; top: 7px; left: 0; width: 100%; position: absolute; height: 1px; background-color: #000;
                        &:first-child { position: absolute; top: 0px;}
                        &:last-child { position: absolute; top: 14px;}
                    }

                    &.active {
                        span {transform: scale(0); background-color: #fff;
                            &:first-child{transform: rotate(45deg); top: 7px;  background-color: #000;}
                            &:last-child{transform: rotate(-45deg); top: 7px;  background-color: #000;}
                        }
                    }
                }
                &__body {
                    position: fixed;
                    z-index: 20;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    top: 0;
                    left: 0;
                    padding: 120px 0px;
                    transform: translateY(-100%);
                    background-color: #f9f9f9;
                    transition: 1s all ease-in-out;
                    ul {transform: translateX(5%);}
                }

                &__body.active {
                    transform: translateY(0);
                }

                &__list {
                    flex-direction: column;
                    align-items: center;
                    margin: -15px 0px;
                    li {
                        padding: 15px 0px;
                        font-size: 20px;
                        line-height: 42px;
                        a {position: relative;}
                        a:after {position: absolute;}
                        a.link-expandable.expanded,div.link-expandable.expanded {
                            p {font-size: 20px; color: #474747;}
                        }
                    }

                    li:last-child {
                        transform: translateX(-25%);
                    }
                }
            }
            .search {
                max-width: 100%;
                &__input {
                    max-width: 90%;
                }

                &__button {
                    max-width: 10%;
                }
            }
        }
    }

}

.content {
    padding: 0px 0px 40px 0px;
	&__row {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
	}

	&__column.sidebar-about {
        flex: 0 0 25.714%;
	}

    &__column.recent-posts {
        flex: 0 0 65.714%;
	}


    .sidebar-about {

    	&__title {
            font-size: 24px;
            color: #474747;
            line-height: 36px;
            margin: 0px 0px 36px 0px;
    	}

    	&__text {
            font-size: 16px;
            color: #474747;
            font-weight: 300;
            line-height: 24px;
            margin: 0px 0px 16px 0px;
    	}

    	&__link {
            margin: 0px 0px 48px 0px;
    	}

        .sb-link {

        	&__item {
                display: flex;
                height: 20px;
                align-items: center;
                span {
                font-size: 12px;
                color: #474747;
                line-height: 14px;
                text-transform: uppercase;
                transition: all 500ms ease-in-out;
                }
        	}

            &__item:after {
                content:'';
                width: 20px;
                height: 20px;
                background: url('../images/icons/sidebar-arrow_left.svg') center no-repeat;
                background-color: #F4F4F4;
                margin: 0px 0px 0px 16px;
                display: inline-block;
                transition: all 500ms ease-in-out;
            }

            &__item:hover {
                span {font-size: 13px; letter-spacing: 1.20px;}
            }

            &__item:hover:after {
                transform: rotate(90deg);
            }

        }

    	&__socials {

    	}
    }

    .recent-posts {

    	&__header {
            margin: 0px 0px 39px 0px;
    	}

    	&__title {
            font-size: 24px;
            line-height: 36px;
            color: #474747;
            margin: 0px 0px 24px 0px;
    	}

    	&__navigation {

    	}

        .rp-navigation {

        	&__list {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                margin: 0px -24px;
                overflow-x: auto;
                li.rp-navigation__tag {
                    padding: 0px 24px;
                    text-align: center;
                    white-space: nowrap;
                    a {font-size: 16px; line-height: 32px; color: #777777;}
                }

                li.tag-active {
                    a {color: #474747;}
                }

                li.rp-navigation__tag.tag-active:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #474747;
                }
        	}

        }

    	&__posts-list {

    	}

        .posts-list {

        	&__content {

        	}

        }

        .posts {
            position: relative;

        	&-list__content {
                margin: 0px 0px 98px 0px;
        	}

        	&__row {
                padding: 48px 0px;
        	}


        	&__date {
                font-size: 12px;
                line-height: 14px;
                color: #777777;
                margin-bottom: 24px;
        	}

            &__content {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
            }

            &__content.list-wrapped {
                align-items: center;
            }

        	&__title {
                max-width: 540px;
                width: 100%;
                font-size: 19px;
                line-height: 28px;
        	}

        	&__tags {
                max-width: 200px;
                width: 100%;
                top: center;
        	}

        }

        .tags {

        	&__list {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 4px;
                li {
                    font-size: 12px;
                    padding: 8px 16px;
                    background-color: #f4f4f4;
                    border-radius: 3px;
                }
        	}

        }

        .pagination {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            margin: 0px -12px;
            div {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                width: 32px;
                height: 32px;
                align-items: center;
                justify-content: center;
                padding: 0px 12px;
                border-radius: 3px;
                &:nth-child(1) {
                    background-color: #f4f4f4;
                    img {
                        transform: rotate(-180deg);
                    }
                }

                &:nth-child(3) {
                    background-color: #ffffff;
                    border: 1px solid #474747;
                    border-radius: 3px;
                }

            }

            div:nth-child(3) {
            }

        	&__list {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                height: 32px;
                margin: 0px -8px;
                padding: 0px 12px;
                li {padding: 0px 8px; font-size: 16px; line-height: 32px;}
        	}

        	&__page {

        	}

            &__page.page-active {
                color: #ffaa9d;
        	}

        }

        .posts-list__pagintation {

        }

    }

    @media screen and (max-width: 1279px) {
        & {
            .content__row {
                flex-direction: column;
                margin: -15px 0px;
                >div {padding: 15px 0px;}
                .sidebar-about {flex: 1 0 100%; order: 2;}
                .recent-posts {flex: 1 0 100%; order: 1;}
            }
        }
    }

    @media (max-width:550px) {
        & {
            .posts {
                &__content {
                    flex-direction: column;
                    margin: -7.5px 0px;
                    >div {
                        padding: 7.5px 0px;
                    }
                    .tags {
                        &__list {justify-content: flex-start;}
                    }
                }

                &__content.list-wrapped {
                    flex-direction: column;
                    align-items: flex-start;
                    }
                }

            .pagination {
                justify-content: center;
            }

        }
    }

}

.socials {

    &__list {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        margin: 0px -12.5px;
    }

    &__item {
        padding: 0px 12.5px;
        transition: all 500ms ease-in-out;
    }

    &__item:hover {
        transform: scale(1.2) rotate(20deg);
    }

    &__link {

    }

}

.footer {
    padding: 40px 0px;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
	&__row {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
	}

	&__copyright {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        margin: 0px -6px;
        span {
            display: inline-block;
            padding: 0px 6px;
            font-size: 12px;
            color: #474747;
            line-height: 14px;
        }

        span:first-child:after {
            content:'';
            display: inline-block;
            width: 12px;
            height: 12px;
            background: url('../images/icons/copyright.svg') 0 0 no-repeat;
            margin: 0px 0px -2px 5px;

        }
	}

    &__go-back {

    }

    .go-back {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, 25%);
        &__link {
            display: block;
            width: 63px;
            height: 63px;
            border-radius: 50%;
            background-color: #fff;
            img {position: absolute; bottom: 25%; left: 50%; transform: rotate(-90deg) translate(-50%, -25%);;}
        }
    }

	&__socials {

	}

    @media (max-width: 767px) {
        padding: 117px 0px 40px 0px;
        &__row {
            flex-direction: column;
            margin: -21px 0px;
            >div:not(:nth-child(2)){
                padding: 21px 0px;
            }

            >div:nth-child(2) {
                margin: px 0px;
            }
        }
    }

}





//
